body {
    background: #0f0f0f;
    color: white;
    font-family: 'Arial';
    background-image: url('/static/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}

h1 {
    text-align: center;
    color: #00f7ff;
}

h1 span {
    color: #ff00c8;
}

form {
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 10px 30px;
    border: none;
    background: #00f7ff;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff00c8;
    color: white;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00f7ff;
}

.senha-container {
    position: relative;
}

.senha-container img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    cursor: pointer;
}

.erro {
    color: red;
}

.logout {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: red;
    text-decoration: none;
}
